* {
    transition: background-color 0.5s;
}

.indicator {
    font-size: 5vh;
    color: #F0A373;
    border-bottom: solid;
    border-width: 0.25vw;
    border-color: #E9CDC3;
}

.project-description {
    padding: 2vw 6vw 0vw 6vw;
    font-size: 1.35vw;
    color: #C6B3AD;
}

.team-sections {
    clear: both;
    transition: all 0.25s;
    justify-content: center;
    display: grid;
    grid-gap: auto;
    background-color: transparent;
    color: #444;
    grid-template-rows: repeat(2, 35vw);
    grid-template-columns: repeat(4, 20vw);
}

.team-sections a {
    position: relative;
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    padding: 0px;
    font-size: 1.25vw;
    border: none;
    border-radius: 2vw;

}

.team-sections .box .team-text {
    margin: 0vw 1vw 1vw 1vw;
}

.team-sections .box img{
    width: 100%;
}

.team-sections .box .team-title {
    color: #F0A373;
    font-size: 2vw;
    padding: 0vw 0vw 0.25vw 0vw;
    text-align: left;
}

.team-sections .box .role {
    color: #C6B3AD;
    font-size: 1.5vw;
    padding: 0vw 1vw 0vw 0vw;
    text-align: left;
}

.team-sections .box .description {
    color: #c6b3ad;
    font-size: 1.25vw;
    padding: 1vw 0vw 0vw 0vw;
    text-align: left;
}

.team-sections-mobile {
    clear: both;
    transition: all 0.25s;
    justify-content: center;
    display: grid;
    grid-gap: auto;
    background-color: transparent;
    color: #444;
    grid-template-rows: repeat(4, 55vh);
    grid-template-columns: repeat(2, 45vw);
    margin-bottom: -60vh;
}

.team-sections-mobile a {
    position: relative;
    text-decoration: none;
    background-color: transparent;
    color: #fff;
    padding: 0px;
    font-size: 1.25vw;
    border: none;
    border-radius: 2vw;

}

.team-sections-mobile .box .team-text {
    margin: 0vw 2vh 2vh 2vh;
}

.team-sections-mobile .box img{
    width: 100%;
}

.team-sections-mobile .box .team-title {
    color: #F0A373;
    font-size: 3vh;
    padding: 0vw 0vw 0.25vh 0vw;
    text-align: left;
}

.team-sections-mobile .box .role {
    color: #C6B3AD;
    font-size: 2vh;
    padding: 0vw 1vh 0vw 0vw;
    text-align: left;
}

.team-sections-mobile .box .description {
    color: #c6b3ad;
    font-size: 2vh;
    padding: 1vh 0vw 0vh 0vh;
    text-align: left;
}

.faq-sections {
    margin: 0vw 6vw 6vw 6vw;
}

.faq-sections .faq-question {
    padding-top: 2vw;
    font-size: 1.5vw;
    color: #F0A373;
}

.faq-sections .faq-answer {
    padding-top: 0.5vw;
    font-size: 1.5vw;
    color: #C6B3AD;
}

.explore-sections {
    clear: both;
    padding-top: 2vw;
    transition: all 0.25s;
    justify-content: center;
    display: grid;
    grid-gap: 1vw;
    background-color: transparent;
    color: #444;
    grid-template-rows: repeat(1, 16.5vw);
    grid-template-columns: repeat(4, 21.5vw);
}

.explore-sections a {
    position: relative;
    text-decoration: none;
    background-color: #FFD8C9;
    color: #fff;
    padding: 0px;
    font-size: 1.25vw;
    border: none;

}

.explore-sections a:hover {
    background-color: #FFCCB9;
}

.explore-sections .disabled {
    position: relative;
    text-decoration: none;
    background-color: #FFD8C9;
    color: #fff;
    padding: 0px;
    font-size: 1.25vw;
    border: none;
    opacity: 0.5;
}

.explore-sections .box .team-text {
    margin: 1vw 1vw 1vw 1vw;
}

.explore-sections .box img{
    width: 100%;
}

.explore-sections .box .team-title {
    color: #F0A373;
    font-size: 2.5vw;
    padding: 0vw 0vw 0.25vw 0vw;
    text-align: left;
}

.explore-sections .box .role {
    color: #C6B3AD;
    font-size: 1.5vw;
    padding: 0vw 1vw 0vw 0vw;
    text-align: left;
}

.explore-sections .box .description {
    color: #c6b3ad;
    font-size: 1.25vw;
    padding: 1vw 0vw 0vw 0vw;
    text-align: left;
}

.explore-sections-mobile {
    clear: both;
    padding-top: 2vh;
    transition: all 0.25s;
    justify-content: center;
    display: grid;
    grid-gap: 2.5vh;
    background-color: transparent;
    color: #444;
    grid-template-rows: 20vh 22.5vh;
    grid-template-columns: repeat(1, 90vw);
}

.explore-sections-mobile a {
    position: relative;
    text-decoration: none;
    background-color: #FFD8C9;
    color: #fff;
    padding: 0px;
    font-size: 1.25vh;
    border: none;

}

.explore-sections-mobile a:hover {
    background-color: #FFCCB9;
}

.explore-sections-mobile .box .team-text {
    margin: 1vh 1vh 1vh 1vh;
}

.explore-sections-mobile .box img{
    width: 100%;
}

.explore-sections-mobile .box .team-title {
    color: #F0A373;
    font-size: 5vw;
    padding: 0vw 0vw 0.25vh 0vw;
    text-align: left;
}

.explore-sections-mobile .box .role {
    color: #C6B3AD;
    font-size: 4vw;
    padding: 0vw 1vh 0vw 0vw;
    text-align: left;
}

.explore-sections-mobile .box .description {
    color: #c6b3ad;
    font-size: 1.5vh;
    padding: 2vh 0vw 0vw 0vw;
    text-align: left;
}

.manifesto-intro {
    padding-top: 5vh;
    display: flex;
}

.manifesto {
    margin: 0vw 6vw 0vw 6vw;
    font-size: 1.35vw;
    color: #C6B3AD;
}

.manifesto-text-mobile {
    margin: 0vw 6vw 0vh 6vw;
    font-size: 2vh;
    color: #C6B3AD;
}

.manifesto-intro-mobile {
    padding-top: 5vh;
}

.manifesto-mobile {
    margin: 0vw 7.5vw 0vw 7.5vw;
    font-size: 2vh;
    color: #C6B3AD;
}

.intro-image {
    width: 30vw;
    margin: -3vw 12.5vw 0vw 6vw;
    filter: drop-shadow(0vw 0vw 0.5vw #333333);
}

.intro-image-mobile {
    margin-top: 5vh;
    margin-left: 10vw;
    width: 80vw;
    filter: drop-shadow(0vw 0vw 0.5vh #333333);
}