<!DOCTYPE html>
<html>
<head>
	<title>Meziaki Fennecs</title>
	<link rel="stylesheet" type="text/css" href="../static/style/home.css">
	<link rel="stylesheet" type="text/css" href="../static/style/team.css">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.16.0/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/ScrollMagic.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.3/plugins/animation.gsap.min.js"></script>

    <script src="https://kit.fontawesome.com/497ef235da.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
	<link rel="icon" href="../static/images/logo.png" type="image/x-icon">
</head>
<body id="bod">
	<!--Background-->

	<!--HEADER-->
	<div>
		<img src="../static/images/text_logo.png" class="logo" id="text_logo" style="padding: 0.5vw 1vw 0.5vw 1vw; margin-left: 0vw; width: 15vw; position: fixed; margin-top: 0vw; z-index: 2;">
		<div class="wrapper-sections" id="header_elements">
		<a href="/">
			<div class="box">
			  	<p class="box-title">HOME</p>
			</div>
		</a>
		<a href="fennecs">
			<div class="box">
			  	<p class="box-title">FENNECS</p>
			</div>
		</a>
		<a href="" class="active">
			<div class="box">
			  	<p class="box-title">THE DESERT</p>
			</div>
		</a>
		<a href="roadmap">
			<div class="box">
			  	<p class="box-title">ROADMAP</p>
			</div>
		</a>
		<a href="visualize">
			<div class="box">
			  	<p class="box-title">VISUALIZER</p>
			</div>
		</a>
		<a href="https://twitter.com/meziakifennecs" target="_blank">
			<div class="box">
			  	<i class="fa-brands fa-twitter"></i>
			</div>
		</a>
		<a href="" target="_blank">
			<div class="box">
			  	<i class="fa-brands fa-discord"></i>
			</div>
		</a>
	</div>

	<!--PROJECT DESCRIPTION-->
	<p class="indicator" style="margin: 0vw 6vw 0vw 6vw; padding-top: 10vw">THE DESERT</p>
	<p class="project-description">An Exceptional  project  started by 4 NFT enthusiasts, launching on the Solana Blockchain, revolving around the “Fennec fox”-Algeria’s National animal.<br><br>Around the clock, the team prepares a launch of 1809 fennec NFTs. With a plethora of distinct traits and a multitude of backgrounds- we voluntarily undertake this challenge to depict the abundance of originality in the life of a fennec.<br><br>A composed selected team with copious skills to grant access to opportunities and new gaming experiences.<br><br>With the upcoming release of our IOS game, we undertake this enjoyable-yet challenging task to represent the might of this great animal and his expertise when it comes to life adaptability in the most vast and arid desert in the world. 
	</p>

	<!--TEAM-->
	<p class="indicator" style="margin: 0vw 6vw 0vw 6vw; padding-top: 10vw">TEAM</p>
	<div class="team-sections">
		<a href="">
			<div class="box">
				<img src="../static/images/logo.png">
				<div class="team-text">
					<p class="team-title">PSYMARCOS</p>
					<p class="role">COFOUNDER & BLOCKCHAIN/SOFTWARE DEVELOPER</p>
					<p class="description">Accomplished product and blockchain developer, pivoted towards the practice of digital art and software development.</p>
				</div>
			</div>
		</a>
		<a href="">
			<div class="box">
				<img src="../static/images/logo.png">
				<div class="team-text">
					<p class="team-title">SABABOT</p>
					<p class="role">COFOUNDER & FULL-STACK DEVELOPER</p>
					<p class="description">Years of web development and a passion for computer science has resulted in thorough proficiency and formidable websites as well as projects.</p>
				</div>
			</div>
		</a>
		<a href="">
			<div class="box">
				<img src="../static/images/logo.png">
				<div class="team-text">
					<p class="team-title">THEMMY</p>
					<p class="role">COFOUNDER & MARKETING DIRECTOR</p>
					<p class="description">Strategic promotionalist running countless operations and heavily contributing to both the team and work ethic.</p>
				</div>
			</div>
		</a>
		<a href="">
			<div class="box">
				<img src="../static/images/logo.png">
				<div class="team-text">
					<p class="team-title">CASESAGE</p>
					<p class="role">COFOUNDER & CREATIVE WRITER</p>
					<p class="description">Experienced writer ensuring the best illustrations, has worked on numerous descriptive pieces.</p>
				</div>
			</div>
		</a>
		<a href="">
			<div class="box">
				<img src="../static/images/logo.png">
				<div class="team-text">
					<p class="team-title">YUNGTT</p>
					<p class="role">DIGITAL ARTIST</p>
					<p class="description">A skilful graphic engineer with copious formidable works and an abundance of artistic expertise.</p>
				</div>
			</div>
		</a>
		<a href="">
			<div class="box">
				<img src="../static/images/logo.png">
				<div class="team-text">
					<p class="team-title">KOOK</p>
					<p class="role">SOCIAL INFLUENCER</p>
					<p class="description">Entrepreneurial mindset with a substantial following and media influence.</p>
				</div>
			</div>
		</a>
	</div>

	<!--FOOTER-->
	<p class="copyright">© 2022, Meziaki Fennecs</p>

	<!--Scripts-->
	<script src="../static/scripts/background.js"></script>
</body>
</html>