<!DOCTYPE html>
<html>
<head>
	<title>Meziaki Fennecs</title>
	<link rel="stylesheet" type="text/css" href="../style/style.css">
</head>
<body>
	<!-- Header -->
	<div class="header">
  		<a href="#default" class="logo" style="padding-left: 100px">Meziaki Fennecs</a>
  		<div class="header-right" style="padding-right: 100px;">
    		<a href="#home">Home</a>
    		<a href="#fennecs.html">Fennecs</a>
    		<a class="active" href="#">Roadmap</a>
  		</div>
	</div>

	<!-- NFTs -->
	<p style="text-align: center; padding: 25px; font-size: 40px; padding-top: 75px;">Fennecs</p>
	<div class="wrapper-nfts">
  		<div class="box a">
  			<a href="https://sababot.github.io/maze-generation/">
  				<img src="images/MeziakiFennec2.png" width="199" height="199" style="margin: 0px auto 0px; display: block; border: solid; border-color: white;">
  			</a>
  		</div>
  		<div class="box b">
  			<a href="https://github.com/sababot/pathfinding">
  				<img src="images/MeziakiFennec2.png" width="199" height="199" style="margin: 0px auto 0px; display: block; border: solid; border-color: white;">
  			</a>
  		</div>
  		<div class="box c">
  			<a href="https://github.com/sababot/sorting">
  				<img src="images/MeziakiFennec2.png" width="199" height="199" style="margin: 0px auto 0px; display: block; border: solid; border-color: white;">
  			</a>
  		</div>
  		<div class="box d">
  			<a href="https://github.com/sababot/rsa">
  				<img src="images/MeziakiFennec2.png" width="199" height="199" style="margin: 0px auto 0px; display: block; border: solid; border-color: white;">
  			</a>
  		</div>
  		<div class="box e">
  			<a href="https://github.com/sababot/brig">
  				<img src="images/MeziakiFennec2.png" width="199" height="199" style="margin: 0px auto 0px; display: block; border: solid; border-color: white;">
  			</a>
  		</div>
  		<div class="box f">
  			<!--<p class="element-title">Ball Physics</p>-->
  			<a href="https://sababot.github.io/ball-physics/">
  				<img src="images/MeziakiFennec2.png" width="199" height="199" style="margin: 0px auto 0px; display: block; border: solid; border-color: white;">
  			</a>
  		</div>
  		<div class="box g">
  			<!--<p class="element-title">Ball Physics</p>-->
  			<a href="https://sababot.github.io/ball-physics/">
  				<img src="images/MeziakiFennec2.png" width="199" height="199" style="margin: 0px auto 0px; display: block; border: solid; border-color: white;">
  			</a>
  		</div>
  		<div class="box h">
  			<!--<p class="element-title">Ball Physics</p>-->
  			<a href="https://sababot.github.io/ball-physics/">
  				<img src="images/MeziakiFennec2.png" width="199" height="199" style="margin: 0px auto 0px; display: block; border: solid; border-color: white;">
  			</a>
  		</div>
  		<div class="box i">
  			<!--<p class="element-title">Ball Physics</p>-->
  			<a href="https://sababot.github.io/ball-physics/">
  				<img src="images/MeziakiFennec2.png" width="199" height="199" style="margin: 0px auto 0px; display: block; border: solid; border-color: white;">
  			</a>
  		</div>
  		<div class="box j">
  			<!--<p class="element-title">Ball Physics</p>-->
  			<a href="https://sababot.github.io/ball-physics/">
  				<img src="images/MeziakiFennec2.png" width="199" height="199" style="margin: 0px auto 0px; display: block; border: solid; border-color: white;">
  			</a>
  		</div>
  		<div class="box k">
  			<!--<p class="element-title">Ball Physics</p>-->
  			<a href="https://sababot.github.io/ball-physics/">
  				<img src="images/MeziakiFennec2.png" width="199" height="199" style="margin: 0px auto 0px; display: block; border: solid; border-color: white;">
  			</a>
  		</div>
  		<div class="box l">
  			<!--<p class="element-title">Ball Physics</p>-->
  			<a href="https://sababot.github.io/ball-physics/">
  				<img src="images/MeziakiFennec2.png" width="199" height="199" style="margin: 0px auto 0px; display: block; border: solid; border-color: white;">
  			</a>
  		</div>
  		<div class="box m">
  			<!--<p class="element-title">Ball Physics</p>-->
  			<a href="https://sababot.github.io/ball-physics/">
  				<img src="images/MeziakiFennec2.png" width="199" height="199" style="margin: 0px auto 0px; display: block; border: solid; border-color: white;">
  			</a>
  		</div>
  		<div class="box n">
  			<!--<p class="element-title">Ball Physics</p>-->
  			<a href="https://sababot.github.io/ball-physics/">
  				<img src="images/MeziakiFennec2.png" width="199" height="199" style="margin: 0px auto 0px; display: block; border: solid; border-color: white;">
  			</a>
  		</div>
  		<div class="box o">
  			<!--<p class="element-title">Ball Physics</p>-->
  			<a href="https://sababot.github.io/ball-physics/">
  				<img src="images/MeziakiFennec2.png" width="199" height="199" style="margin: 0px auto 0px; display: block; border: solid; border-color: white;">
  			</a>
  		</div>
	</div>
</body>
</html>